.bg {

    font-family: "JetBrains Mono", sans-serif;
    text-align: center;
    
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 2rem;
}

.text h1 {
    font-size: 5rem;
}

.text p {
    font-size: 2rem;
}

.text {
    position: relative;
}

.button button {

    font-family: "JetBrains Mono", sans-serif;

    padding: 2rem;
    margin: 0 2rem;

    font-size: 3rem;

    border-style: solid;
    border-radius: 20px;
    background-color: white;
    color: black;

    position: relative;

    transition: transform 0.5s, background-color 0.3s, color 0.3s;
}
.button button:hover {
    transform: scale(1.2); 
    background-color: black;
    color: white;
}

.empty {
    height: 100vh;
}
