/* General Navbar Styling */
.navbar {
    color: white;
    font-family: "JetBrains Mono", sans-serif;
    display: flex;
    align-items: center;
    background-color: rgb(32, 32, 32);
    justify-content: space-around;
    padding: 1rem;

    position: fixed;
    z-index: 10;
    width: 100%;
}

.navbarBrand h1 {
    margin: 0;
}

.navbarLinks ul { 
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbarLinks li {
    margin: 0 2rem; 
}

.navbarLinks a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.navbarLinks ul li {
    display: inline-block
}

.navbarLinks a:hover {
    background-color: black;
    color:yellow;
}

.navbarBrand h1:hover {
    color: aqua;
    transition: color 300ms linear;
    -webkit-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    -o-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
}
